Options +FollowSymLinks
AddType application/x-httpd-php .html .htm
#RewriteEngine On
#RewriteBase /

#SSLOptions +StrictRequire
#SSLRequireSSL
#SSLRequire %{HTTP_HOST} eq "debuggeek.com"
#ErrorDocument 403 https://debuggeek.com/taxtiger_staging/index.html

#DirectoryIndex index.html

#AuthName EnterPassword
#AuthType Basic

#require valid-user
#AuthUserFile "passwd"
