Options +FollowSymLinks

<IfModule mod_headers.c>
 SetEnvIf Origin "http(s)?://(www\.)?(fs-react.s3-website-us-west-2.amazonaws.com|localhost:8080|domain3.net)$" AccessControlAllowOrigin=$0$1
 Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</ifModule>

#RewriteEngine On
#RewriteBase /

#SSLOptions +StrictRequire
#SSLRequireSSL
#SSLRequire %{HTTP_HOST} eq "debuggeek.com"
#ErrorDocument 403 https://debuggeek.com/taxtiger_staging/index.html

#DirectoryIndex index.html

#AuthName EnterPassword
#AuthType Basic

#require valid-user
#AuthUserFile "passwd"
