body
{
	text-align:center;
}

p {
page-break-after: always
}

h1
{
	font-size:36pt;
}
h2
{
	color:black;
	font-weight:bold;
}
table
{
	border-collapse:collapse;
	border:1px solid black;
	/*padding:1cm;*/
	page-break-inside: avoid;
}
td,th
{
	border:1px solid black;
	color:blue;
	text-align:left;
	white-space: nowrap;
}

th
{
	font-weight:bold;
	color:black;
}

.colhead
{
	white-space: nowrap;
}

.value
{
	color:blue;
	float:left;
	white-space: nowrap;
}

.subvalue
{
	color: grey;
	float: left;
	/*white-space: nowrap;*/
	/*padding-left: 5px;*/
}

.delta
{
	color:red;
	float: right;
	text-align:right;
	/*padding-left: 5px;*/
	/*white-space: nowrap;*/
}

.SalePrice,.SalePrice\/Sqft
{
	text-align:right;
}
