@CHARSET "UTF-8";
body
{
    background-color:white;
    text-align:center;
}
@page {
    size: 11in 8.5in;
    margin: 1cm;
}

p {
    page-break-after: always
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('resources/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

h1
{
    font-size:36pt;
}
h2
{
    color:black;
    font-weight:bold;
}
table
{
    border-collapse:collapse;
    font-family:verdena;
    border:1px solid black;
    padding:2cm;
    page-break-inside:auto;
}
td,th
{
    border:1px solid black;
    color:blue;
    text-align:left;
    white-space: nowrap;
}

th
{
    font-weight:bold;
    color:black;
}

tr
{
    page-break-inside:avoid;
    font-size:10pt;
}

#removeMe{
    border: none;
    float: right;
    padding: 9px;
    background: url('resources/x.png');
}

.colhead
{
    white-space: nowrap;
}

.value
{
    color:blue;
    float:left;
    white-space: nowrap;
}

.subvalue
{
    color: grey;
    float: left;
    white-space: nowrap;
    padding-left: 5px;
}

.delta
{
    color:red;
    float: right;
    text-align:right;
    padding-left: 5px;
    white-space: nowrap;
}

.SalePrice,.SalePrice\/Sqft
{
    text-align:right;
}
