
@CHARSET "UTF-8";

#tabs {
border-bottom: .5em solid #004376;
margin: 0;
padding: 0;
}
#tabs li {
display:inline;
border-top: .1em solid #004376;
border-left: .1em solid #004376;
border-right: .1em solid #004376;
}
#tabs li a {
text-decoration: none;
padding: 0.25em 1em;
color: #000;
}

#page1 #tabs li#tab1 a, #page2 #tabs li#tab2 a, #page3 #tabs li#tab3 a, #page4 #tabs li#tab4 a{
padding: 0.25em 1em;
background-color: #004376;
color: #fff;
}

#contentBox {
    margin:0px auto;
    width:95%;
}

#column1{
  float:left;
  margin:0;
  width:50%;
}

#column2{
  float:left;
  margin:0;
  width:50%;
}
